/* TODO: reset */

#fab {
	position: fixed;
	right: 1rem;
	bottom: 1rem;

}

#delay-amount {
	position: fixed;
	bottom: 4px;
}

#inp-score {
	position: fixed;
	top: 4px;
}

.mdc-text-field {
	width: 100%;
}

#elements {
	width: 100%;
	display: grid;
	grid-template-columns: auto;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* 
#elements > * {
	display: none;
}

#elements > *:has(> .mdc-form-field > .mdc-checkbox) {
	display: block;
}

.mdc-checkbox:not(:first-of-type), .mdc-form-field > label:not(:first-of-type) {
	display: none;
} */