body {
	font-family: 'JetBrains Mono', monospace;
	font-size: 24px;

	display: grid;
	grid-template-rows: repeat(5, min-content);
	align-items: center;
	justify-content: center;

	margin: 0;
	padding: 0;
}


.scores {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	min-width: 800px;
}
.scores > * {
	margin: 5px;
}


@media only screen and (max-width: 600px) {
	body {
		font-size: 14px;
	}

	.scores {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		min-width: 300px;
	}
}

all-interactions {
	margin-top: 2em;
}

demo-viewer {
	margin-top: 1em;
}